@font-face {
    font-family: aviny;
    src: url('font/BYekan+\ Bold.ttf');
}
body{
    font-family: aviny;
    direction: rtl;
}
img{
    width: 400px;
    height: 300px;
}
body p{
    font-size: 50px
    
}
